License.tex
proposal.aux
proposal.bbl
proposal.bcf
proposal.blg
proposal.fdb_latexmk
proposal.fls
proposal.idx
proposal.ilg
proposal.ind
proposal.log
proposal.out
proposal.run.xml
proposal.synctex.gz
proposal.tex
proposal.toc
settings.tex
vs-report.cls